.App {
  text-align: center;
}

.homeLink {
  text-decoration: none;
  color: white;
}

.homeLink:hover {
  /* background-color: rgba(128, 128, 128, 0.281); */
  background-color: #1b5977;
}

.homeImg {
  /* background-image: url("https://www.nicepng.com/png/detail/255-2559542_ecommorce-e-commerce-background-png.png"); */

  margin-top: 8px;

  /* background-repeat: no-repeat; */
}

.about {
  font-size: x-large;
  border: 5px solid;
  border-radius: 10px;
  background-color: black;
  color: white;
}

.aboutParagraph {
  font-size: larger;
}

.websiteName {
  /* text-align: left; */
  font-size: small;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.websiteName:hover {
  cursor: pointer;
  /* border: 1px solid; */
}

.searchDiv {
  display: flex;
  flex-direction: row;
}

.search {
  height: 20px;

  width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.searchButton {
  /* background-color: ; */
  height: 26px;
  font-size: large;
  width: 50px;
}

.searchButton:hover {
  cursor: pointer;
}

.register {
  display: grid;
  gap: 5px;
  width: 300px;
  /* margin-left: 600px; */
  /* margin-bottom: 200px; */
  margin-top: 20px;
  margin-left: 300px;
}

.firstName {
  height: 25px;
  font-size: large;
}

.lastName {
  height: 25px;
  font-size: large;
}

.age {
  height: 25px;
  font-size: large;
}
.country {
  height: 25px;
  font-size: large;
}

.registerEmail {
  height: 25px;
  font-size: large;
}

.registerPassword {
  height: 25px;
  font-size: large;
}

.registerWord {
  text-align: left;
  font-size: x-large;
}

.registerButton {
  background-color: #a56663;
  height: 30px;
  font-size: large;
  margin-top: 10px;
}

.registerImageGif {
  position: relative;
  /* bottom: 200px; */
  bottom: 470px;
  left: 380px;
}

.firstLabel {
  font-size: larger;
  display: flex;
}

.lastLabel {
  font-size: larger;
  display: flex;
}

.ageLabel {
  font-size: larger;
  display: flex;
}

.countryLabel {
  font-size: larger;
  display: flex;
}

.login {
  display: grid;
  gap: 5px;
  height: 50px;
  width: 250px;
  margin-top: 100px;
  margin-left: 300px;
}

.loginEmail {
  height: 25px;
  font-size: large;
}

.loginPassword {
  height: 25px;
  font-size: large;
}

.emailLabel {
  font-size: larger;
  display: flex;
}

.passwordLabel {
  font-size: larger;
  display: flex;
}

.loginWord {
  text-align: left;
  font-size: x-large;
}

.loginButton {
  /* background-color: #00adab; */
  background-color: #1b5977;

  height: 30px;
  font-size: large;
  margin-top: 10px;
}

.loginImageGif {
  position: relative;
  bottom: 140px;
  left: 420px;
}

.navigation {
  display: flex;
  /* justify-content: flex-end; */
  flex-direction: row;
  /* justify-content: space-evenly ; */
  justify-content: space-around;
  /* justify-content: space-between; */

  gap: 30px;
  margin: -8px;
  padding-right: 15px;
  font-size: larger;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /* position: relative; */
  /* bottom: 100px; */
  background-color: black;
  /* margin-top: -30px; */
  /* overflow: hidden; */
  align-items: center;
}

.registerNav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.productsLink {
  text-decoration: none;
  color: white;
}

.productsLink:hover {
  /* border: 2px solid; */
  /* background-color: rgba(128, 128, 128, 0.281); */
  background-color: #1b5977;
}

.cartLink {
  text-decoration: none;
  color: white;
}

.cartLink:hover {
  /* border: 2px solid; */
  /* background-color: rgba(128, 128, 128, 0.281); */
  background-color: #1b5977;
}

.adminProductsLink {
  text-decoration: none;
  color: white;
  font-size: large;
}

.adminProductsLink:hover {
  /* border: 2px solid; */
  /* background-color: rgba(128, 128, 128, 0.281); */
  background-color: #1b5977;
}

.newProductsLink {
  text-decoration: none;
  color: white;
  font-size: large;
}

.newProductsLink:hover {
  /* border: 2px solid; */
  /* background-color: rgba(128, 128, 128, 0.281); */
  background-color: #1b5977;
}

.ordersLink {
  text-decoration: none;
  color: white;
  font-size: large;
}

.ordersLink:hover {
  /* border: 2px solid; */
  /* background-color: rgba(128, 128, 128, 0.281); */
  background-color: #1b5977;
}

.registerLink {
  text-decoration: none;
  color: white;
}

.registerLink:hover {
  /* border: 2px solid; */
  background-color: #1b5977;
}

.loginLink {
  text-decoration: none;
  color: white;
}

.loginLink:hover {
  /* border: 2px solid; */
  background-color: #1b5977;
}

/* User */
.products {
  display: grid;
  grid-template-columns: 0.2fr 0.2fr 0.2fr 0.2fr;
  gap: 60px;
  margin-top: 80px;
  font-size: x-large;
  margin-left: 50px;
}

.productsImg {
  height: 240px;
  width: 250px;
  /* border: 2px solid #1b1a40; */
}

.productsConatiner {
  /* border: 5px solid; */
  /* background-color: #31ff66; */
  /* background-color: #066661; */
}

/* .ppp{
  height: 280px;
} */

.productsTitle {
  color: black;
  font-size: xx-large;
  font-family: "Neonderthaw", cursive;
}

.productsDescription {
  font-family: "Neonderthaw", cursive;
}

.productsPrice {
  font-size: xx-large;
  font-family: "Neonderthaw", cursive;
}
.addToCartButton {
  margin-bottom: 40px;
  height: 50px;
  width: 35%;
  font-size: large;
}

.addToCartButton:hover {
  cursor: pointer;
}

.orderSummary {
  border: 5px solid;
  height: 200px;
  width: 200px;
  background-color: white;
  font-family: "Neonderthaw", cursive;
}

.checkoutButton {
  height: 40px;
  width: 100px;
  font-size: large;
  margin-bottom: 100px;
  background-color: black;
  color: white;
}

.checkoutButton:hover {
  cursor: pointer;
}

.checkoutButton:active {
  background-color: #00ff33;
}

.addToCartButton:active {
  background-color: #ff3327;
}

.deleteFromCartButton {
  height: 30px;
  width: 50px;
  /* margin-bottom: 50px; */
  position: relative;
  bottom: 40px;
  font-size: large;
}

.deleteFromCartButton:hover {
  cursor: pointer;
}

/* Admin */

.adminProductsImg {
  height: 300px;
  width: 250px;
  /* border: 2px solid #1b1a40; */
}

.adminProducts {
  display: grid;
  grid-template-columns: 0.2fr 0.2fr 0.2fr 0.2fr;
  gap: 60px;
  margin-top: 80px;
  margin-left: 50px;
  font-size: x-large;
}

.adminProductsContainer {
  /* border: 3px solid; */
}

.updateImg {
  height: 20px;
}

.updateTitle {
  margin: 15px;
  height: 20px;
}

.updateDescription {
  margin: 2px;
  height: 20px;
}

.updatePrice {
  margin: 8px;
  height: 20px;
}

.deleteButton {
  height: 30px;
  font-size: large;
  margin-left: 10px;
  color: red;
}

.deleteButton:hover {
  cursor: pointer;
}

.updateButton {
  margin: 20px;
  height: 30px;
  font-size: large;
  margin-right: 10px;
  color: rgb(0, 0, 255);
}

.updateButton:hover {
  cursor: pointer;
}

.newProduct {
  font-size: x-large;
  margin: 30px;
}

.newImg {
  height: 20px;
  height: 30px;
}

.newTitle {
  margin: 20px;
  height: 20px;
  height: 30px;
}

.newDescription {
  width: auto;
}

.newPrice {
  margin: 15px;
  height: 20px;
  height: 30px;
}

.addProductButton {
  margin: 8px;
  height: 40px;
  width: 60px;
}

.addProductButton:hover {
cursor: pointer;
}



.orders {
  margin-top: 50px;
  /* border: 5px solid */
  /* display: grid; */

  /* float: left; */
  /* gap: 20px; */
}

.ordersContainer {
  font-weight: bold;
  font-size: x-large;
  border: 1px solid;
  font-family: "Neonderthaw", cursive;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 60px;
  /* display: grid;
  text-align: left;
  justify-content: space-between; */
  background-color: #1b5977;
}

.logoutButton {
  height: 40px;
  width: 60px;
  font-size: large;
}

.logoutButton:hover {
  cursor: pointer;
}

.footer{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: larger;
  font-family: 'Neonderthaw', cursive;

}

.copyRights{
  font-size: large;
  display: grid;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
  color: white;
}