body {
  background-color: #bcc2c1;
}

.App {
  text-align: center;
}

.websiteName {
  /* text-align: left; */
  font-size: small;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.searchDiv {
  display: flex;
  flex-direction: row;
}

.search {
  height: 20px;

  width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.searchButton {
  /* background-color: ; */
  height: 26px;
}

.register {
  display: grid;
  gap: 5px;
  width: 300px;
  margin-left: 600px;
  margin-bottom: 200px;
}

.firstName {
  height: 25px;
  font-size: large;
}

.lastName {
  height: 25px;
  font-size: large;
}

.age {
  height: 25px;
  font-size: large;
}
.country {
  height: 25px;
  font-size: large;
}

.registerEmail {
  height: 25px;
  font-size: large;
}

.registerPassword {
  height: 25px;
  font-size: large;
}

.registerWord {
  text-align: left;
  font-size: x-large;
}

.registerButton {
  background-color: #3328ff;
  height: 30px;
  font-size: large;
  margin-top: 10px;
}

.firstLabel {
  font-size: larger;
  display: flex;
}

.lastLabel {
  font-size: larger;
  display: flex;
}

.ageLabel {
  font-size: larger;
  display: flex;
}

.countryLabel {
  font-size: larger;
  display: flex;
}

.login {
  display: grid;
  gap: 5px;
  height: 50px;
  width: 250px;
  margin-left: 580px;
}

.loginEmail {
  height: 25px;
  font-size: large;
}

.loginPassword {
  height: 25px;
  font-size: large;
}

.emailLabel {
  font-size: larger;
  display: flex;
}

.passwordLabel {
  font-size: larger;
  display: flex;
}

.loginWord {
  text-align: left;
  font-size: x-large;
}

.loginButton {
  /* background-color: #00adab; */
  background-color: #3328ff;

  height: 30px;
  font-size: large;
  margin-top: 10px;
}

.navigation {
  display: flex;
  /* justify-content: flex-end; */
  flex-direction: row;
  /* justify-content: space-evenly ; */
  justify-content: space-around;
  /* justify-content: space-between; */

  gap: 30px;
  margin: -8px;
  padding-right: 15px;
  font-size: larger;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /* position: relative; */
  /* bottom: 100px; */
  background-color: black;
  /* margin-top: -30px; */
  /* overflow: hidden; */
  align-items: center;
}

.registerNav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.productsLink {
  text-decoration: none;
  color: white;
}

.productsLink:hover {
  border: 2px solid;
}

.cartLink {
  text-decoration: none;
  color: #ff3327;
}

.cartLink:hover {
  border: 2px solid;
}

.adminProductsLink {
  text-decoration: none;
  color: white;
  font-size: large;
}

.adminProductsLink:hover {
  border: 2px solid;
}

.newProductsLink {
  text-decoration: none;
  color: white;
  font-size: large;
}

.newProductsLink:hover {
  border: 2px solid;
}

.ordersLink {
  text-decoration: none;
  color: white;
  font-size: large;
}

.registerLink {
  text-decoration: none;
  color: white;
}

.registerLink:hover {
  border: 2px solid;
}

.loginLink {
  text-decoration: none;
  color: white;
}

.loginLink:hover {
  border: 2px solid;
}

/* User */
.products {
  display: grid;
  grid-template-columns: 0.2fr 0.2fr 0.2fr 0.2fr;
  gap: 60px;
  margin-top: 80px;
  font-size: x-large;
  margin-left: 50px;
}

.productsImg {
  height: 240px;
  width: 250px;
  border: 2px solid #1b1a40;
}

.productsConatiner {
  border: 5px solid;
  /* background-color: #31ff66; */
  background-color: #066661;
}

/* .ppp{
  height: 280px;
} */

.productsTitle {
  color: black;
  font-size: xx-large;
}

.productsPrice {
  font-size: xx-large;
}
.addToCartButton {
  margin-bottom: 40px;
  height: 50px;
  width: 35%;
  font-size: large;
}


.checkoutButton {
  height: 40px;
  width: 100px;
  font-size: large;
  margin: 225px 80px;
}

.checkoutButton:active{
  background-color: #00FF33

}


.addToCartButton:active {
  background-color: #ff3327;
}

.deleteFromCartButton {
  height: 30px;
  width: 50px;
  /* margin-bottom: 50px; */
  position: relative;
  bottom: 40px;
}

/* Admin */

.adminProductsImg {
  height: 300px;
  width: 250px;
  border: 2px solid #1b1a40;
}

.adminProducts {
  display: grid;
  grid-template-columns: 0.2fr 0.2fr 0.2fr 0.2fr;
  gap: 60px;
  margin-top: 80px;
  margin-left: 50px;
  font-size: x-large;
}

.adminProductsContainer {
  border: 3px solid;
}

.updateImg {
  height: 20px;
}

.updateTitle {
  margin: 15px;
  height: 20px;
}

.updateDescription {
  margin: 2px;
  height: 20px;
}

.updatePrice {
  margin: 8px;
  height: 20px;
}

.deleteButton {
  height: 30px;
  font-size: large;
  margin-left: 10px;
  color: red;
}

.updateButton {
  margin: 20px;
  height: 30px;
  font-size: large;
  margin-right: 10px;
  color: rgb(0, 0, 255);
}

.newProduct {
  font-size: x-large;
  margin: 30px;
}

.newImg {
  height: 20px;
  height: 30px;
}

.newTitle {
  margin: 20px;
  height: 20px;
  height: 30px;
}

.newDescription {
  width: auto;
}

.newPrice {
  margin: 15px;
  height: 20px;
  height: 30px;
}

.addProductButton {
  margin: 8px;
  height: 40px;
  width: 60px;
}

.orders {
  margin-top: 50px;
  /* border: 5px solid */
}

.ordersContainer {
  display: grid;
  border: 3px solid;
  font-weight: bold;
  font-size: larger;
}

.logoutButton {
  height: 40px;
  width: 60px;
  font-size: large;
}
